[Unit]
Description=
ConditionPathExists=/usr/local/bin/wof-spelunker-httpd
After=network.target

[Service]
Type=simple
User=spelunker
Group=spelunker
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/wof-spelunker-httpd -server-uri http://localhost:8008 -spelunker-uri null://

[Install]
WantedBy=multi-user.target